/seg_train
/seg_test
/seg_pred
/datasets/INTEL/seg_test
/datasets/INTEL/seg_pred
/datasets/INTEL/seg_train
/datasets/CIFAR/train 
/datasets/CIFAR/test
/description_data
/models/best_model.pth
/models/best_model_acc.pth
/models/best_model_loss.pth
/datasets/CIFAR/archive.zip